.DS_Store
*.pyc
*~
pip-log.txt
.idea
.codeintel
searchd.log
*/settings/local.py
media
static
*.name
.idea/
bower_components/
node_modules/
libs/
.DS_Store
dist/**/*.min.js
*.map
dist/**/*.png
dist/**/*.gif
dist/**/*.jpg
dist/**/*.woff
dist/**/*.woff2
dist/**/*.eot
dist/**/*.ttf
dist/**/*.svg
dist/**/*.otf
dist/**/*.min.css
.vs/
.vscode/
*.sln
*.suo
.vs
